@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <div class="page-header min-vh-100 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0 mt-8">
                        <div class="card-header text-center pt-4 pb-1">
                            <h4 class="font-weight-bolder mb-1">Sign in</h4>
                            <p class="mb-0">Welcome back</p>
                        </div>
                        <div class="card-body pb-0">
                            <form id="account" method="post">
                                <div class="mb-3">

                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                </div>
                                <div class="mb-3">
                                   
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" typeof="checkbox" asp-for="Input.RememberMe" />
                               @*     <input class="form-check-input" type="checkbox" id="rememberMe">*@
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                <div class="text-center">
                         @*           <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-2">Sign in</button>*@
                                    <button id="login-submit" type="submit" class="btn bg-gradient-info w-100 mt-4 mb-2">Log in</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-sm-4 px-1">
                            <div class="row px-xl-5 px-sm-4 px-3">
                                <div class="mt-3 mb-4 position-relative text-center">
                                    <p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
                                        or continue with
                                    </p>
                                </div>
                                <div class="col-12 ms-auto px-1">
                                    <a class="btn btn-outline-light w-100 p-3" href="javascript:;">
                                        <svg width="24px" height="32px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="facebook-3" transform="translate(3.000000, 3.000000)" fill-rule="nonzero">
                                                    <circle fill="#3C5A9A" cx="29.5091719" cy="29.4927506" r="29.4882047"></circle>
                                                    <path d="M39.0974944,9.05587273 L32.5651312,9.05587273 C28.6886088,9.05587273 24.3768224,10.6862851 24.3768224,16.3054653 C24.395747,18.2634019 24.3768224,20.1385313 24.3768224,22.2488655 L19.8922122,22.2488655 L19.8922122,29.3852113 L24.5156022,29.3852113 L24.5156022,49.9295284 L33.0113092,49.9295284 L33.0113092,29.2496356 L38.6187742,29.2496356 L39.1261316,22.2288395 L32.8649196,22.2288395 C32.8649196,22.2288395 32.8789377,19.1056932 32.8649196,18.1987181 C32.8649196,15.9781412 35.1755132,16.1053059 35.3144932,16.1053059 C36.4140178,16.1053059 38.5518876,16.1085101 39.1006986,16.1053059 L39.1006986,9.05587273 L39.0974944,9.05587273 L39.0974944,9.05587273 Z" fill="#FFFFFF"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <p class="mb-0 mt-3 text-sm mx-auto">
                                Forgot Password?
                                <a id="forgot-password" class="text-danger text-gradient font-weight-bold" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p class="mb-0 mt-3 text-sm mx-auto">
                                Don't have an account?
                                <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
